html {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 14pt;
    background-color: #20063B;
    color: #c2f9bb;
    font-family: 'Noto Sans';
    padding: 30px;
    margin: 0;
  }

  h1 {
    color: #9ad1d4;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
  }

  h2 {
    color: #9ad1d4;
    text-align: center;
  }
  p {
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  img{
    display: block;
    max-width:500px;
    max-height:500px;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
  }

  #blankspace {
    width: 100%;
    height: 4em;
  }
  #title {
    border-radius: 10px;
    font-size: 4rem;
  }

  .painting-div {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 100, 0.3);
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    align-items: center;
  }

  .header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg/800px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg");
    background-size: cover;
    background-position:center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

  footer {
    text-align: right;
    font-size: 10pt;
  }
  
  @media (max-width: 750px) {
    #blankspace {
      height: 0px;
    }
    .painting-div {
      flex-direction: column;
      padding: 20px;
    }
    .header {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg/800px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg");
      background-position:center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15rem;
      padding-bottom: 10rem;
      height: 10em;
    }
  }

